@import "/sass/utils/colors";
@import "/sass/utils/variables";
@import "/sass/utils/mixins";
@import "/sass/base/typography";

.integrations__container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 40px;

  &__item {
    padding: 56px 50px;
    @include flexbox(
      $direction: column,
      $justify: space-between,
      $items: center,
      $gap: 1.5em
    );
    border-radius: 24px;
    border: 2px solid $greyscale-grey-100;

    &:hover {
      cursor: pointer;
    }

    &__img {
      border-radius: 100px;
      border: 10px solid $main-color-white;
      filter: drop-shadow(0px 8px 64px rgba(10, 17, 47, 0.1));
    }

    &__content {
      @include flexbox(
        $direction: column,
        $justify: space-between,
        $items: center,
        $gap: 1em
      );
      text-align: center;

      &__title {
        color: $main-color-black;
        @extend %website-heading5;
        font-size: 32px;
      }

      &__category {
        background-color: $shades-of-blue-96;
        padding: 8px 16px;
        border-radius: 100px;
        color: $main-color-blue;
        text-transform: uppercase;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 135%;
        letter-spacing: 0.24px;
      }

      &__desc {
        @extend %body-regular;
        color: $greyscale-grey-500;
        max-width: 300px;
      }
    }
  }
}
