@import "/sass/utils/colors";
@import "/sass/utils/variables";
@import "/sass/utils/mixins";
@import "/sass/base/typography";

.nav {
  max-width: 100vw;
  height: 96px;
  @include flexbox($justify: space-around, $items: center);
  background-color: $greyscale-grey-50;

  &__links {
    @include flexbox($justify: space-between, $items: center, $gap: 3em);
    @extend %button-size2;

    &__item {
      @include flexbox($justify: space-between, $items: center, $gap: 0.2em);
      color: $main-color-black;
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }

      .dropdown__btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.25em;

        .caret {
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-top: 8px solid #000;
          transition: 0.5s;
          position: relative;
          text-align: center;
        }

        .caret-rotate {
          transform: rotate(180deg);
        }
      }

      .dropdown__content {
        border: 1px solid rgba($color: $shades-of-blue-98, $alpha: 0.8);
        border-radius: 24px;
        position: absolute;
        margin: 0;
        top: 38%;
        right: 30%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 32px;
        background-color: $main-color-white;

        .dopwdown-title {
          color: $greyscale-grey-500;
          font-size: $font-size11;
          font-weight: $font-weight1;
        }

        ul {
          a {
            text-decoration: none;
          }

          li {
            display: flex;
            align-items: center;
            column-gap: 16px;
            margin-top: 24px;

            .dropdown__desc {
              p:nth-child(1) {
                color: $main-color-black;
                @extend %body-medium;
              }

              p:nth-child(2) {
                color: $greyscale-grey-500;
                @extend %body-regular;
              }
            }
          }
        }
      }

      .dropdown__content--none {
        display: none;
      }
    }
  }

  &__auth {
    @include flexbox($justify: space-between, $items: center, $gap: 0.5em);

    &__login {
      background-color: transparent;
      @extend %button-size2;
      color: $main-color-black;
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }
    }

    &__learnmore {
      background-color: $greyscale-grey-200;
      padding: 11px 24px;
      @extend %button-size2;
      border-radius: 100px;
      color: $main-color-black;
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
