@import "/sass/utils/colors";
@import "/sass/utils/variables";
@import "/sass/utils/mixins";
@import "/sass/base/typography";

.nav {
  width: 100vw;
  height: 96px;
  @include flexbox($justify: space-between, $items: center);
  background-color: $main-color-white;

  &__logo {
    @include flexbox($justify: space-between, $items: center, $gap: 0.2em);

    &__text {
      color: $main-color-black;
      @extend %website-heading4;
    }
  }
}
