@import "/sass/utils/colors";
@import "/sass/utils/variables";
@import "/sass/utils/mixins";
@import "/sass/base/typography";
@import "/sass/base/reset";

.section3__container {
  padding: 120px 0;

  &--title {
    @include homepageTitle();
    width: 700px;
    margin: auto;
  }

  &--companyNames {
    @include flexbox(space-around, center, 109);
    margin-top: 80px;
  }
}
