@import "/sass/utils/colors";
@import "/sass/utils/variables";
@import "/sass/utils/mixins";
@import "/sass/base/typography";
@import "/sass/base/reset";

.about {
  &__item1 {
    .about__title {
      padding-top: 88px;
      @include homepageTitle();
    }
    .about__desc {
      font-size: 24px;
      font-weight: 500;
      line-height: 33.6px;
      text-align: center;
      color: $greyscale-grey-600;
      margin-top: 24px;
    }

    .about__statistics {
      margin: auto;
      color: $main-color-white;
      width: 1000px;
      background-color: $main-color-black;
      border-radius: 24px;
      margin-top: 72px;

      &--title {
        padding-top: 48px;
        padding-bottom: 32px;
        text-align: center;
        font-size: 24px;
        line-height: 38.4px;
      }

      &--table {
        display: flex;
        gap: 24px;
        justify-content: space-around;
        margin: auto;
        width: 50%;
        padding-bottom: 48px;

        &--1,
        &--2,
        &--3 {
          background-color: #ffffff1a;
          display: flex;
          padding: 24px 60px 24px 0;
          width: 300px;
          border-radius: 24px;
          gap: 24px;

          div:nth-of-type(1) {
            padding-left: 24px;
          }

          div:nth-of-type(2) {
            font-size: 40px;
            line-height: 60px;
            font-weight: 600;

            p:nth-of-type(2) {
              color: $greyscale-grey-400;
              line-height: 26.1px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  &__item3 {
    .desc {
      padding-top: 120px;
      padding-bottom: 64px;
      text-align: center;

      p:nth-of-type(1) {
        font-size: 64px;
        font-weight: 600;
        line-height: 76.8px;
      }
      p:nth-of-type(2) {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
      }
    }

    .brands {
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 120px;
      padding-top: 64px;
    }
  }

  &__item4 {
    .title {
      text-align: center;
      margin-bottom: 56px;
      @extend %website-heading3;
    }
  }
}
