@import "/sass/utils/colors";
@import "/sass/utils/variables";
@import "/sass/utils/mixins";
@import "/sass/base/typography";

.pricing__offer {
  background-color: $main-color-white;
  padding: 88px 190px;
  @include flexbox(
    $direction: column,
    $justify: space-between,
    $items: center,
    $gap: 5em
  );

  &__info {
    @include flexbox(
      $direction: column,
      $justify: space-between,
      $items: center,
      $gap: 1.5em
    );

    &__header {
      @extend %website-heading2;
      text-transform: capitalize;
      max-width: 950px;
      padding: 0 auto;
      text-align: center;

      span {
        color: $main-color-blue;
      }
    }

    &__desc {
      @extend %button-size1;
      color: $greyscale-grey-600;
      max-width: 660px;
      padding: 0 auto;
      text-align: center;
    }
  }
}

.faq {
  @include flexbox(
    $direction: column,
    $justify: space-between,
    $items: center,
    $gap: 5em
  );
  padding: 120px 190px;

  &__title {
    color: $main-color-black;
    text-align: center;
    @extend %website-heading3;
    text-transform: capitalize;
  }
}
