@import "/sass/utils/colors";
@import "/sass/utils/variables";
@import "/sass/utils/mixins";
@import "/sass/base/typography";

.taxes__intro {
  @include flexbox(
    $direction: column,
    $justify: space-between,
    $items: center,
    $gap: 5em
  );
  padding: 88px 190px;

  &__context {
    @include flexbox(
      $direction: column,
      $justify: space-between,
      $items: center
    );

    &__header {
      @extend %website-heading2;
      color: $main-color-black;
      max-width: 950px;
      text-align: center;
      text-transform: capitalize;
      margin-bottom: 24px;
    }

    &__desc {
      @extend %body-medium2;
      color: $greyscale-grey-600;
      max-width: 660px;
      text-align: center;
      margin-bottom: 48px;
    }

    &__btngroup {
      @include flexbox($justify: center, $items: center, $gap: 1.5em);
    }
  }

  &__partner {
    @include flexbox($justify: space-between, $items: center, $gap: 5em);

    &__item {
      cursor: pointer;
    }
  }
}

.taxes__summary {
  padding: 120px 280px;
  @include flexbox($justify: center, $items: center);
  position: relative;

  &__card {
    border-radius: 24px;
    width: 880px;
    height: auto;
    padding: 50px;
    box-shadow: $box-shadow;
    @include flexbox(
      $direction: column,
      $justify: space-between,
      $items: center
    );
    background-image: $linear-gradient;

    &__title {
      @extend %website-heading2;
      color: $main-color-black;
      text-transform: capitalize;
      text-align: center;
      margin-top: 24px;

      span {
        color: $main-color-blue;
      }
    }

    &__desc {
      max-width: 660px;
      color: $greyscale-grey-600;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      text-align: center;
      margin-bottom: 48px;
    }

    &__review {
      @include flexbox($justify: space-between, $items: center, $gap: 1em);
      background-color: $main-color-white;
      border-radius: 16px;
      box-shadow: $box-shadow;
      padding: 15px;
      margin-bottom: 24px;

      &__text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        color: $main-color-black;
      }
    }

    &__total {
      @include flexbox($justify: space-between, $items: flex-start, $gap: 1em);
      padding: 20px;
      border-radius: 20px;
      background-color: $main-color-white;
      position: absolute;
      height: auto;
      top: 70%;
      left: 63%;
      z-index: 2;
      box-shadow: $box-shadow;

      &__data {
        @include flexbox(
          $direction: column,
          $justify: space-between,
          $items: flex-start
        );

        &__title {
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          color: $greyscale-grey-600;
        }

        &__amount {
          font-size: 28px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
          color: $main-color-black;
        }

        &__btn {
          border: none;
          outline: none;
          background-color: transparent;
          color: $main-color-blue;
          font-size: 16px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  &__img__girl {
    position: absolute;
    top: 50%;
    left: 18%;
    background-color: $shades-of-blue-96;
    padding: 10px;
    border-radius: 50%;
  }

  &__img__boy {
    position: absolute;
    top: 55%;
    left: 70%;
    background-color: $shades-of-blue-96;
    padding: 10px;
    border-radius: 50%;
  }
}

.taxes__forms {
  margin: 120px auto;
  padding: 50px;
  @include flexbox(
    $direction: column,
    $justify: space-between,
    $items: center,
    $gap: 3em
  );
  border-radius: 24px;
  box-shadow: $box-shadow;
  max-width: 880px;
  background-image: $linear-gradient;

  &__header {
    @extend %website-heading2;
    color: $main-color-black;
    max-width: 660px;
    text-align: center;

    span {
      color: $main-color-blue;
    }
  }

  &__body {
    @include flexbox(
      $direction: column,
      $justify: space-between,
      $items: center,
      $gap: 1.5em
    );
  }
}
