$main-color-black: #0a112f;
$main-color-blue: #3981f7;
$main-color-white: #fff;

$shades-of-blue-98: #f5f9ff;
$shades-of-blue-96: #ebf3ff;
$shades-of-blue-94: #e0edff;
$shades-of-blue-92: #d6e7ff;
$shades-of-blue-90: #cce1ff;

$greyscale-grey-50: #fafafa;
$greyscale-grey-100: #f4f4f5;
$greyscale-grey-200: #e4e4e7;
$greyscale-grey-300: #cacace;
$greyscale-grey-400: #9096a2;
$greyscale-grey-500: #70707a;
$greyscale-grey-600: #585860;
$greyscale-grey-700: #44444b;
$greyscale-grey-800: #313135;
$greyscale-grey-900: #0b0b0c;

$action-red-20: #fedada;
$action-red-40: #fdb5b5;
$action-red-60: #fc8f8f;
$action-red-80: #fb6a6a;
$action-red-100: #fa4545;

$action-purple-20: #e1dafe;
$action-purple-40: #c3b5fd;
$action-purple-60: #a58ffc;
$action-purple-80: #876afb;
$action-purple-100: #6945fa;

$action-orange-20: #feedda;
$action-orange-40: #fddcb5;
$action-orange-60: #fcca8f;
$action-orange-80: #fbb96a;
$action-orange-100: #faa745;

$action-green-20: #ceefdf;
$action-green-40: #9ddfbf;
$action-green-60: #6ccfa0;
$action-green-80: #3bbf80;
$action-green-100: #0aaf60;

$action-light-blue-20: #dcf4fe;
$action-light-blue-40: #b9e8fd;
$action-light-blue-60: #97ddfd;
$action-light-blue-80: #74d1fc;
$action-light-blue-100: #51c6fb;
